html {
  scroll-behavior: smooth;
}
body {
  font-family: "Jost", sans-serif !important;
  color: #000 !important;
  background: #03001e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e406e4, #45024e, #110350, #050116);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e406e4, #45024e, #110350, #050116); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;  
}

.row {
  margin: 0;
  padding: 0;
}

.p-0 {
  padding: 0px;
}

.p0 {
  padding: 0px;
}

// All transitions
div,
ul,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

textarea {
  resize: none;
  height: 60px;
  width: 100%;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
}

h1 {
  font-size: 55px !important;
  font-style: normal !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}
.bluegrey {
  color: #475569;
}
.grey {
  color: #8ca0b9;
}

.ptb20 {
  padding: 20px 0;
}
.ptb30 {
  padding: 140px 0;
}

h2 {
  font-size: 42px !important;
  font-style: normal !important;
  font-weight: 900 !important;
}

p {
  font-size: 14px;
}

.btn-common {
  background: #d10dd8;  /* fallback for old browsers */

font-weight: bolder;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin: 10px 0;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: #d10dd8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
  }

  &:active {
    color: #d10dd8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
  }
  &:focus {
    outline: none;
  }
}
.btn-common-white {
  background: #f0e6f9;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 15px;
  color: #6c01c3;
  text-decoration: none;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #6c01c3;
  }
  &:active {
    color: #6c01c3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
  }
  &:focus {
    outline: none;
  }
}

.ptb {
  padding: 60px 0;
}

.btn-red {
  background: #f41e5e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff !important;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    color: #f41e5e !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
  }
}
.btn-white {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  color: #aa3935;
  padding: 8px 15px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    color: #fff !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #aa3935;
  }
}

.btn-Outline {
  // margin-top: -5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px 20px;
  color: #901cee;
  border: 1px solid #d3b3ed;
  box-shadow: none;
  outline: none !important;
  background: #ffffff;

  &:hover {
    color: #fff !important;
    box-shadow: none;
    background-color: #901cee;
  }
}
.side-div-pool {
  .poolDiv {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    padding: 0px 15px;
    background-image: url("./Assets/bnb-background.png");
    object-fit: cover;
    background-size: cover;
    height: 59px;
    border-radius: 10px;
  }
  .btn-Outline {
    height: 59px;
    font-weight: 500;
    font-size: 15px;
  }
}

.purple {
  color: #6c01c3;
}
.yellow {
  color: #ffc13d;
}
.border-img {
  border-radius: 10px;
}

.common {
  color: #133572;
}

.green {
  color: #6dff39;
}

.red {
  color: #f41e5e;
}
.white {
  color: #fff !important;
}

.blue {
  color: #133572;
}

.navbar-toggle {
  background-color: #333;

  .icon-bar {
    background-color: #eee;
  }
}
.modal {
  .modal-dialog {
    margin-top: 100px;
    .modal-content {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 20px;
      border: none;
      background: #ffffff;
      .pop-content {
        // padding-right: 15px;
        // padding-left: 15px;
        padding: 30px;
      }
      .modal-body {
        .close {
          position: absolute;
          right: 15px;
          top: 15px;
          width: 25px;
          height: 25px;
          display: flex;
          padding-bottom: 5px;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          background: black;
          filter: invert(100%);
          outline: none;
        }
        padding: 0px;
        .modal-heading {
          border-radius: 20px 20px 0px 0px;
          background: linear-gradient(94.44deg, #6c01c3 -1.96%, #901cee 100.17%);
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
      }
      .for-padding {
        padding: 0 0px !important;
      }
    }
  }

}

@media only screen and (max-width: 600px) {
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    outline: none;

    &:focus {
      outline: none;
    }
  }

  .px-1,.px-2 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .mb-5 {
    margin-bottom: 0px !important;
  }
  .modal .modal-dialog .modal-content .pop-content {
    padding: 20px;
  }

  .main-footer {
    text-align: center;

    .text-right {
      text-align: center !important;
    }
  }

  .main-team {
    .inner-content {
      .carousel-control-next {
        right: 0 !important;
        left: 40px !important;
        top: -44px !important;
        height: 30px;
      }
      .carousel-control-prev {
        right: 0 !important;
        left: 0px !important;
        top: -44px !important;
        height: 30px;
      }
    }
  }

.custom-Card .img-div {
    height: 300px !important;

    img {
      height: 300px !important;
    }
  }



  // .main-navbar {
  //   .modal-dialog {
  //     position: relative;
  //     width: 48%;
  //     margin: .5rem;
  //     pointer-events: none;
  // }
  // }

  .main-about {
    .inner-img {
      img {
        margin: 20px auto !important;
      }
    }
  }

  h1 {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 2.5rem !important;
    font-weight: bold;
    text-align: center;
  }

  .ptb {
    padding: 30px 0;
  }

  .xs-0 {
    padding: 0px;
  }

  .main-mint,
  .main-banner {
    .inner-content {
      .modal-content {
        .for-padding {
          padding: 0 0px !important;
        }
      }
    }
  }

  .main-give {
    .right-side {
      margin-top: 30px !important;
      h5 {
        font-weight: 500;
      }
      li {
        margin-right: 2px !important;
      }
    }
  }
  .h3,
  h3 {
    font-size: 1.75rem;
    margin-bottom: 15px;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-heading {
    font-size: 22px;
    font-weight: bold;
  }
}
// 12 pro
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .nav-brand {
    margin-left: 15px;
  }
  .right-side {
    margin-top: 30px;
    h5 {
      font-weight: 500;
    }
    li {
      margin-right: 8px !important;
    }
  }

  h1 {
    font-size: 3rem !important;
  }

  h2 {
    font-size: 2.5rem !important;
    font-weight: bold;
  }

  .ptb {
    padding: 20px 0;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-heading {
    font-size: small;
  }
}
// 12 pro max
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .nav-brand {
    margin-left: 15px;
  }

  .right-side {
    margin-top: 30px;
    h5 {
      font-weight: 500;
    }
    li {
      margin-right: 8px !important;
    }
  }
  h1 {
    font-size: 3rem !important;
  }

  h2 {
    font-size: 2.5rem !important;
    font-weight: bold;
  }

  .ptb {
    padding: 20px 0;
  }
}

.radio-class {
  position: absolute;
  top: 10px;
  right: 14px;
  visibility: hidden;
}
input[type="radio"] {
  border: 0px;
  width: 10%;
  height: 15px;
}
input[type="radio"]:after {
  background: transparent;
  box-shadow: 2px 2px 4px rgb(136, 136, 136);
}
input[type="radio"]:after {
  width: 19px;
  height: 19px;
  border-radius: 15px;
  position: absolute;
  top: 0px;
  right: 2px;
  background: rgba(255, 255, 255, 0.3);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1.5px solid #901cee;
}
input[type="radio"]:checked:after {
  width: 19px;
  height: 19px;
  border-radius: 15px;
  position: absolute;
  top: 0px;
  right: 2px;
  background: linear-gradient(94.44deg, #6c01c3 -1.96%, #901cee 100.17%);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1.5px solid white;
}
